<h1>Tabla</h1>
<table>
    <thead>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tbody>
</table>